* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 1.2rem */
}

body {
  height: 100dvh;
  padding: 0.3rem;
  display: grid;
  grid-template-rows: auto 1fr;
  font-size: 1.5rem
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

.hidden {
  display: none;
}

.input-plus {
  width: 100%;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr auto;
  /* grid-template-columns: 1fr 1fr; */
  gap: 0.2rem;
  align-items: baseline;
  /* background-color: yellow; */
}

/* .the-form {
  max-width: calc(100vw - 1.4em);
} */

.the-input {
  font-size: 1.6em;
  font-family: inherit;
  /* max-width: calc(100vw - 1.4em); */
  width: 100%;
  resize: vertical;
  padding: 0.05em 0.2em;
}

.speaker {
  font-size: 1.2em;
  background: white;
  border-width: 0;
}

.tabs {
  display: flex; 
  margin-block: 0.3rem;
}

.tab {
  min-width: 3.5em;
  /* border: 3px solid gray; */
  /* margin: 0.2rem; */
  background-color: #dadada;
  margin-right: 0.5rem;
  /* padding-block: 0.1rem; */
  padding: 0.1rem 0.5em;
  text-align: center;
  cursor: pointer;
}
.selectedTab {
  /* border-color: blue; */
  background-color: aqua;
}

main {
  /* height: calc(100vh - 5rem); */
  overflow: auto;
}

/* #aux-gtranslate { */
.google {
  background-color: aliceblue;
  padding: 0.2em;
  /* margin-bottom: 0.5em; */
  margin: 0.1em 0.2em 0.5em;
}
/* 
hr {
  margin-bottom: 0.5em;
} */

/* table {
  width: 100%;
} */

/* e2u ------------------------------- */

.result_row_main, .result_row, #explanatory {
  border: 2px solid green;
  border-radius: 6px;
  padding: 0.3em;
  margin-bottom: 0.3em;
}

/* .other .result_row_main  { */
#main-aux .result_row_main  {
  border-color: orange;
}

.result_row {
  border-color: red;
}

.result_row .found {
  color: blue;
}

/* free dic ---------------------------------- */
#explanatory {
  border-color: blue;
}

.space {
  display: inline-block;
  width: 1em;
}

.synonyms {
  color: green;
}

.synonyms::before {
  content: "synonyms: ";
  font-weight: bold;
}

.antonyms {
  color: red;
}

.antonyms::before {
  content: "antonyms: ";
  font-weight: bold;
}

.definition {
  /* font-style: italic; */
  margin-top: 0.5em;
}

.sub {
  padding-left: 1.5em; 
}

.example {
  padding-left: 1.5em; 
  font-style: italic;
  color: blue;
}

/* https://slovnyk.ua ------------------------ */
.nagolos {
  color: red;
}